/* App container */
.App {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 2em auto;
}

/* Form styling */
.inputs form {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.inputs input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 20px;
}

.inputs button {
  width: 20%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.inputs button:hover {
  background-color: #218838;
}

/* Tasks list */
.toDoElements .task {
  display: flex;
  align-items: center;
  padding: 10px;
}

.toDoElements .task span {
  position: relative;
  display: inline-block;
  white-space: break-word;
  max-width: 100%; /* Adjust based on your layout */
  margin-left: 20px;
  margin-right: auto;
}

.toDoElements .task:nth-child(even) {
  background-color: #f9f9f9;
}

.toDoElements .task span {
  margin-left: 20px;
  margin-right: auto;
}

.toDoElements .task.completed span {
  text-decoration: line-through;
  color: #6c757d;
}

.toDoElements .task button {
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.toDoElements .task button img {
  filter: invert(91%) sepia(15%) saturate(1%) hue-rotate(6deg) brightness(97%) contrast(89%);
}

.toDoElements .task button:hover img {
  filter: invert(19%) sepia(81%) saturate(3581%) hue-rotate(343deg) brightness(82%) contrast(89%);
}
